# Blackslash
Continue symbol

In [1]:
print("hello")

hello

In [2]:
print("hi \ hello")

hi \ hello

In [5]:
print("hi \
hello")

hi hello

In [6]:
print ('python's world')
#we should use here double Quotation or slash

SyntaxError: invalid syntax (<ipython-input-6-ed3777defdc2>, line 1)

In [8]:
print('Python\'s world')

Python's world

# Triple quotation

In [4]:
print("""We use triple code SQL Statement or DOC string""")

We use triple code SQL Statement or DOC string

# \t and \n

In [7]:
print("Hello\tPython")
print("Hello\nPython")

Hello	Python
Hello
Python

In [12]:
print("heloo\a")

heloo

# Multiple statement

In [9]:
name='xyx'
marks= 90
age= 20
print("The name of the person is",name, "mark is",marks,"age is", age)

The name of the person is xyx mark is 90 age is 20

# Formated Statement

In [11]:
##01
print("The name of the person is %s mark is %f age is %d"%(name,marks,age))

The name of the person is xyx mark is 90.000000 age is 20

In [13]:
##02
print("The name of the person is %4s mark is %10f age is %2d"%(name,marks,age))

The name of the person is  xyx mark is  90.000000 age is 20

In [14]:
print("The name of the person is %20s mark is %10.1f age is %5d"%(name,marks,age))

The name of the person is                  xyx mark is       90.0 age is    20

In [17]:
##03
print(f"the name of the person is {name} the marks is {marks} age is{age}")

the name of the person is xyx the marks is 90 age is20

# To get memory address

In [19]:
x=10
id(x)

140722311307952

In [21]:
y=10
id(y)

140722311307952

In [22]:
z=20
id(z)

140722311308272

# Deleting the variable

In [41]:
del x

# Arithmetic operator

In [27]:
5**5
#power operator

3125

In [28]:
10+321

331

In [29]:
10/2

5.0

In [30]:
10/3  #int/int return in float

3.3333333333333335

In [31]:
10%3  #return reminder

1

In [34]:
10//3  #return lower value

3

In [35]:
100//2

50

# Comparison Operator

In [36]:
a=10
b=10
a==b

True

In [37]:
c=20
a==c

False

In [42]:
a<=c

True

In [43]:
a>=c

False

In [44]:
a!=b

False

In [45]:
a!=c

True

# Assignment operator

In [47]:
4+=10

SyntaxError: can't assign to literal (<ipython-input-47-d15dd38011dd>, line 1)

In [61]:
sun=1
moon=1
sun+=moon
print(sun)

2

# Bitwise Operator

In [50]:
a=240
b=1
a|b

241

In [51]:
bin(a)

'0b11110000'

In [52]:
bin(b)

'0b1'

In [ ]:
0b11110000|0b1

In [54]:
bin(0b11110000|0b1)

'0b11110001'

# Logical Operator

In [62]:
a=10
b=20
a<b or 10>9

True

In [63]:
10>9 and 20>m

NameError: name 'm' is not defined

In [64]:
10<9 and 20>m

#if 1st opertor false it wont check 2nd operator

False

In [65]:
not 10<9

True

# Membership operator

In [66]:
# in operator
str1="pythonprograming"
"a" in str1

True

In [67]:
"z" in str1

False

In [68]:
# not in operator
"a" not in str1

False

# Identity operator

is operator check the memory address are same

In [76]:
a=10
b=10
a is b

True

In [77]:
id(a)

140722311307952

In [78]:
id(b)

140722311307952

In [72]:
a=10
b=20
a is b

False

In [79]:
#interview qb
a=257
b=257
a is b

False

# Operator Precedence

In [80]:
10+10/2*3

25.0

In [82]:
10+10/29*4

11.379310344827587

In [83]:
10/29

0.3448275862068966

In [86]:
2**-1

0.5

In [87]:
10>8>9
#10>8 and 8>9

False